@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

header footer {
    padding: 1.25rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    justify-content: center;
}

section {
    background-color: #fbf0e8;
    padding: .625rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22rem;
    height: 648px;
    color: #111111;
    position: relative;
}

section img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-top: 2rem;

}

section img.imgPrato {
    object-position: 91% 50%;
}

section h3 {
    margin: 3.125rem 0 0 2rem;
    margin-bottom: .625rem;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.875rem;
    font-weight: bold;
}

section h5 {
    font-size: 1.25rem;
    text-align: left;
    margin: 2rem 0 0;
}

.coracao {
    width: 7.875rem;
    height: 7.875rem;
    position: absolute;
    top: 15%;
    left: 60%;

}

.coracao img {
    width: 7.875rem;
    height: 7.9375rem;
    object-fit: contain;
    rotate: -50deg;
}


.estrela {
    width: 7.875rem;
    height: 7.875rem;
    position: absolute;
    bottom: 10%;
    left: 60%;
    margin-bottom: 2rem;
}

.estrela img {
    width: 7.5rem;
    height: 6.8rem;
    object-fit: contain;
    rotate: -50deg;
}