body{
   background-color: rgb(223, 223, 231); /*background do body ou cor de fundo; */
}
h1{
    color:rgb(30, 213, 152);
}
h3{
    color: blueviolet;
}
label{
    color: brown;
}
.texto{
    color: chartreuse;
}
#titulo{
    color:blue;
}

